{{>headernav}}
<div class="main-panel">
  {{>togglenav}}
<div class="content">
  <div class="container-fluid">
    <div class="row">     
      <div class="card">       
        <div class="card-header card-header-primary">         
          <h4 class="card-title ">
            <a href="/add_product"> <img src="/././img/add.png" width="20px"> </a>
             Product Management
            </h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <div class="tab-content">
              <div class="tab-pane active" id="profile">
                <table class="table table-hover">
                  <thead class="text-primary">
                    <th>
                      ID
                    </th>
                    <th>
                      Name
                    </th>
                    <th>
                      Category 
                    </th>
                    
                    <th>
                      Description
                    </th>
                    <th>
                      Price
                    </th>
                    <th>
                      Quantity
                    </th>
                    <th>
                      Image
                    </th>

                    <th>
                      Edit
                    </th>
                    <th>
                      Remove
                    </th>
                  </thead>


                  <tbody>
                    {{#each list}}
                    <tr id="row" >
                      <td>
                        {{this.productID}}
                        
                      </td>
                      <td>
                        {{this.productName}}
                      </td>
                      <td>
                        {{this.productCategory}}
                      </td>
                      <td class="text-justify" >
                        {{this.productDescription}}
                      </td>
                      <td class="text-primary">
                        {{this.productPrice}}
                      </td>
                      <td>
                        {{this.productQuantity}}
                      </td>
                      <td>
                        <img src="./uploads/{{this.image}}" alt="product image" width="100%">
                      </td>
                      <td >
                        <button type="button" rel="tooltip" title="Edit" class="btn btn-primary btn-link btn-sm">
                        <a href="/update_product/{{this._id}}"> <img src="/././img/update.png" width="20px"> </a>
                        </button>
                      </td>
                      <td>
                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm" onclick="return confirm('Are you sure to delete this record?');">
                          <a href="/delete_product/{{this._id}}"><img src="/././img/deleted.png" width="20px"> </a>
                        </button>
                      </td>
                    </tr>  
                    {{/each}}                 

                  </tbody>

                </table>
                
              </div>                                  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<!-- Content End -->


